@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');

body {
    background-color: bisque;
}

::-webkit-scrollbar {
    display: none;
  }

.fooldal {
    background-image: url(images/kavek/fooldalhatter.jpg);
    background-repeat: no-repeat;
}

.clover {
    height: 40px;
}

h1 {
    font-family: 'Fredericka the Great', cursive;
    color:#1f5b25;
    text-align: center;
}

.kave {
    color:#1f5b25;
    background-color: #fff;
    border: 1px solid #1f5b25;
    border-radius: 4px;
    margin-bottom: 1rem;
}

.kave:hover {
    box-shadow: 0px 0px 5px #1f5b25
}

.kave h2 {
    font-size: 1rem;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-variant: small-caps;
}

#napiajanlat {
    width: 40px;
    position: absolute;
    top: 10px;
    right: 20px;
}

nav {
    background-color: #1f5b25;
    padding: 15px;
}

nav a {
    color: white;
    margin: 15px;
}

nav a:hover {
    color: white;
    text-decoration: none;
}

nav a:first-child {
    font-size: 1.5em;
}

.banner {
    background-image: url(images/kavek/banner2.jpg);
    background-position: center center;
    background-size: cover;
    height: 400px;
}

footer {
    background-color: #1f5b25;
    color: white;
}

footer li {
    list-style-type: none;
}

footer li>img {
    width: 15px;
    margin-right: 10px;
}

.negyzet {
    position: relative;
    top: 100px;
    left: 100px;
    height: 300px;
    width: 500px;
    background-color: black;
    opacity: 0.9;
    border-radius: 10px;
}

.fooldalh {
    position: relative;
    top: 20px;
    color: white;
    font-size: 2rem;
}

.fooldalp {
    position: relative;
    top: 30px;
    left: 70px;
    color: white;
    font-size: 1.1rem;
}

.foikon {
    width: 125px;
    position: relative;
    top: 35px;
    left: 200px;
}

.blogkep1 {
    width: 350px;
}

.blogkep2 {
    height: 500px;
    padding-bottom: 50px;
}

.blogh1 {
    text-align: center;
}

.szoveg1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: xx-large;
    font-weight: 600;
    text-align: center;
}

.szoveg2 {
    font-size: large;
    font-weight: 400;
}